<div class="ui two column grid">
  <div class="column">
    <table class="ui celled striped unstackable table no-select">
      <thead>
        <tr>
          <th colspan="5">
            未处理
          </th>
        </tr>
        <tr>
          <th>
            流水
          </th>
          <th>
            <i class="payment icon"></i> 油卡
          </th>
          <th>
            <i class="yen icon"></i> 金额
          </th>
          <th>
            时间
          </th>
          <th>
            状态
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="pay_info in pay_infos">
          <td>{{pay_info.id}}</td>
          <td>{{pay_info.card_number}}</td>
          <td>{{pay_info.total_fee/100}}</td>
          <td>{{ pay_info.date}}</td>
          <td><a v-on:click="changeStatus(pay_info)" href="javascript:void(0)">{{ status_desc[pay_info.status] }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="ui celled striped unstackable table">
      <thead>
        <tr>
          <th colspan="5">
            充值中...... 
          </th>
        </tr>
        <tr>
          <th>
            流水
          </th>
          <th>
            <i class="payment icon"></i> 油卡
          </th>
          <th>
            <i class="yen icon"></i> 金额
          </th>
          <th>
            时间
          </th>
          <th>
            状态
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="pay_info in pay_info_rechargings">
          <td>{{pay_info.id}}</td>
          <td>{{pay_info.card_number}}</td>
          <td>{{pay_info.total_fee/100}}</td>
          <td>{{ pay_info.date}}</td>
          <td><a v-on:click="changeStatus(pay_info)" href="javascript:void(0)">{{ status_desc[pay_info.status] }}</a></td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>


<div v-show="current_recharged" class="ui small test modal">
  <div class="header">
    请仔细核查!
  </div>
  <div class="content">
    <p>请核对是否确实向油卡 {{current_recharged.card_number}} 冲入了 (%current_recharged.total_fee/100}}元</p>
  </div>
  <div class="actions">
    <div v-on:click="updatePay(current_recharged, 'recharged')" class="ui positive right labeled icon button">
      确定
      <i class="checkmark icon"></i>
    </div>
    <div class="ui negative button">
      取消
    </div>
  </div>
</div>
