<div>
  <table class="ui celled striped unstackable table">
    <thead>
      <tr>
        <th colspan="2">
          <i class="user icon"></i>    (%bind_info.name%)
        </th>
      </tr></thead>
      <tbody>
        <tr>
          <td class="collapsing">
            <i class="payment icon"></i> 油卡
          </td>
          <td>(%bind_info.card_number%)</td>
        </tr>
      </tbody>
  </table>

  <div class="ui small modal">
    <i @click="jump" class="close icon"></i>
    <img src="/static/images/warning.png">
    <!-- <div class="actions">
      <div @click="jump" class="ui orange approve button">确定</div>
    </div>
  </div> -->
</div>
