<div>
  <table class="ui celled striped unstackable table visacard">
    <thead>
      <tr>
        <th colspan="2">
         
        </th>
        <th class="cancel pull right">
           <i class="sign out icon"></i>解除绑定
        </th>
      </tr></thead>
      <tbody>
        <tr>
          <td class="collapsing">
            <i class="payment icon"></i> 油卡
          </td>
          <td>(%bind_info.card_number%)</td>
        </tr>
      </tbody>
  </table>
  <!-- <div class="ui card">
      <div class="ui grid">
        
      </div>
      <div class="content">
        <img src="/static/images/payment.png">
      </div>
      <div class="description">
          <table>
              <tr>
                  <td><i class="user icon"></i>(%bind_info.name%)</td>
                  <td> (%bind_info.card_number%)</td>
              </tr>
        </table>
      </div>
  </div> -->

  <div  class="ui small modal">
    <i @click="jump" class="close icon"></i>
    <img src="/static/images/warning.png">
 </div>
</div>