<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">

    <title>英茂充值系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{% block description %}权威官方的充值系统 created by bigzhu{% end %}" />
    <meta name="keywords" content="{% block keywords %}bigzhu,充值{% end %}" />

    <link href="//libs.cncdn.cn/semantic-ui/2.1.4/semantic.min.css" type="text/css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
  </head>
  <body class="skin-black layout-top-nav">
    <header id="v_header" class="main-header">               
      <nav class="ui bottom fixed pointing two item menu    menu">
        <a class="item" href="#!/">油卡冲值</a>
        <a class="item" href="#!/card_manager">油卡管理</a>
      </nav>
      <div class="banner">
        <img src="/static/images/header_01.png" />
      </div>
    </header>

    <div id="app">
    </div>

    <script src="//cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//libs.cncdn.cn/semantic-ui/2.1.4/semantic.min.js"></script>
    <script src="dist/build.js"></script>
  </body>
</html>
